<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="cn.itcast"/>
	
	<!-- springmvc的三大组件之一:视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView"/>
		<!-- 
			prefix: 前缀
			suffix: 后缀
		 -->
		<property name="prefix" value="/WEB-INF/jsps/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<!-- 
		映射器和适配器,不显示的配置在springmvc.xml里面也可以正常运行,因为有默认的配置
		如果我们不显示的配置映射器和适配器到springmvc.xml里面,那么每次请求都会去找默认的配置
		这样性能会变慢
		springmvc3.0配置
		<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"></bean>
		<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"></bean>
	 -->
	 
	 <!-- 
	 注解驱动: 相当于配置了最新版本的注解方式映射器和适配器
	  -->
	<mvc:annotation-driven conversion-service="myConversionService" />
	
	<!-- 配置转换器 -->
	<bean id="myConversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="cn.itcast.action.converter.StringToDateConverter"/>
			</set>
		</property>
	</bean>
	<bean class="cn.itcast.action.exception.MyExceptionResolver">
</bean>
	<!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置上传文件的最大尺寸为5MB -->
		<property name="maxUploadSize">
			<value>5242880</value>
		</property>
	</bean>
	<!-- 放行静态资源
			location: 描述放行的目录
			mapping: 配置放行目录里面的那些文件
	 -->
	<mvc:resources location="/resources/" mapping="/resources/**"/>
	<!-- 拦截器配置 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 
				/**: 拦截所有请求
			 -->
			<mvc:mapping path="/**"/>
			<bean class="cn.itcast.action.intercepter.MyIntercepter"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>

